<!DOCTYPE html>


<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>kolaSecured | kolaTest3.0</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick/slick.css') }}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/themify-icons/themify-icons.css') }}">
  <!-- venobox css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/venobox/venobox.css') }}">
  <!-- card slider -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/card-slider/css/style.css') }}">

  <!-- Main Stylesheet -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">

</head>

<body>
  

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Egen"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('services') }}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">Blog</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="team.html">Team</a>
            <a class="dropdown-item" href="team-single.html">Team Details</a>
            <a class="dropdown-item" href="career.html">Career</a>
            <a class="dropdown-item" href="career-single.html">Career Details</a>
            <a class="dropdown-item" href="blog-single.html">Blog Details</a>
            <a class="dropdown-item" href="pricing.html">Pricing</a></a>
            <a class="dropdown-item" href="faqs.html">FAQ's</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page-title -->
<section class="page-title bg-cover" data-background="{{ url_for('static', filename='images/backgrounds/all.gif') }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">kolaTest 3.0</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- team single -->
<section>
  <div class="container">
    <div class="row mb-100">
      <div class="col-lg-4 col-md-6">
        <div class="bg-secondary p-4 text-center">
          <div class="img-thumb-circle mx-auto mb-3">
            <img src="{{ url_for('static', filename='images/team/ks.gif') }}" alt="team-member" class="img-fluid">
          </div>
          <h2 class="text-white">Security Rating</h2>
          <p class="text-gradient-primary h4">Powered by Machine Learning</p>
          <p><ul>
            <li>Automated BlackBox Testing</li>
            <li>Non-Destructive and Non-Intrusive</li>
            <li>Multiple Endpoints Scanning</li>
          </ul></p>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="bg-white p-4">
          <h3>Get a rating for free!</h3>
          <form action="/kolaTest3.0" method="POST">
            <input type="text" id="name" name="name" class="form-control mb-4 px-0" placeholder="Full name" required>
            <input type="text" id="name" name="name" class="form-control mb-4 px-0" placeholder="Email address" required>
            <input type="text" id="pos" name="pos" class="form-control mb-4 px-0" placeholder="Position" required>
            <input type="url" name="url" id="url" placeholder="https://example.com" pattern="http(s?)(:\/\/)((www.)?).*" class="form-control mb-4 px-0" required>
            <input type="url" name="favicon" id="favicon" placeholder="https://example.com/favicon.ico" pattern="http(s?)(:\/\/)((www.)?).*" class="form-control mb-4 px-0" required>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div></div>
    </div>
  </div>
   
<!-- footer -->
<footer class="bg-secondary position-relative">
  <img src="{{ url_for('static', filename='images/backgrounds/map.png') }}" class="img-fluid overlay-image" alt="">
  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 col-6">
          <h4 class="text-white mb-5">About</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light d-block mb-3">Service</a></li>
            <li><a href="#" class="text-light d-block mb-3">Conatact</a></li>
            <li><a href="#" class="text-light d-block mb-3">About us</a></li>
            <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
            <li><a href="#" class="text-light d-block mb-3">Support</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4 class="text-white mb-5">Company</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light d-block mb-3">Service</a></li>
            <li><a href="#" class="text-light d-block mb-3">Conatact</a></li>
            <li><a href="#" class="text-light d-block mb-3">About us</a></li>
            <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
            <li><a href="#" class="text-light d-block mb-3">Support</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="bg-white p-4">
            <h3>Contact us</h3>
            <form action="#">
              <input type="text" id="name" name="name" class="form-control mb-4 px-0" placeholder="Full name">
              <input type="text" id="name" name="name" class="form-control mb-4 px-0" placeholder="Email address">
              <textarea name="message" id="message" class="form-control mb-4 px-0" placeholder="Message"></textarea>
              <button class="btn btn-primary" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="text-light mb-0">Copyright &copy; 2022 <a class="text-gradient-primary" href="https://themefisher.com">kolaSecured.com</a>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-md-right text-center">
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-instagram"></i></a></li>
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jQuery/jquery.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
<!-- slick slider -->
<script src="{{ url_for('static', filename='plugins/slick/slick.min.js') }}"></script>
<!-- venobox -->
<script src="{{ url_for('static', filename='plugins/venobox/venobox.min.js') }}"></script>
<!-- shuffle -->
<script src="{{ url_for('static', filename='plugins/shuffle/shuffle.min.js') }}"></script>
<!-- apear js -->
<script src="{{ url_for('static', filename='plugins/counto/apear.js') }}"></script>
<!-- counter -->
<script src="{{ url_for('static', filename='plugins/counto/counTo.js') }}"></script>
<!-- card slider -->
<script src="{{ url_for('static', filename='plugins/card-slider/js/card-slider-min.js') }}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{{ url_for('static', filename='plugins/google-map/gmap.js') }}"></script>

<!-- Main Script -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
