<!DOCTYPE html>


<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>kolaSecured | kolaTest3.0</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick/slick.css') }}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/themify-icons/themify-icons.css') }}">
  <!-- venobox css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/venobox/venobox.css') }}">
  <!-- card slider -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/card-slider/css/style.css') }}">

  <!-- Main Stylesheet -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

</head>

<body>
  

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Egen"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('services') }}">Services</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page-title -->
<section class="page-title bg-cover" data-background="{{ url_for('static', filename='images/backgrounds/page-title.jpg') }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">Test 3.0</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- team single -->
<section>
  <div class="container">
    <div class="row mb-100">
      <div class="col-lg-4 col-md-6">
        <div class="bg-secondary p-4 text-center">
          <div class="img-thumb-circle mx-auto mb-3">
            <img src="{{ url_for('static', filename='images/team/ks.gif') }}" alt="team-member" class="img-fluid">
          </div>
          <h2 class="text-white">Security Rating</h2>
          <p class="text-gradient-primary h4">Powered by Machine Learning</p>
          <p><ul>
            <li>Automated BlackBox Testing</li>
            <li>Non-Destructive and Non-Intrusive</li>
            <li>Multiple Endpoints Scanning</li>
          </ul></p>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="bg-secondary p-4">
          <ul class="list-unstyled">
            <li class="mb-4">
              <p class="text-white mb-1">Website</p>
              <strong class="text-white">{{ web }}</strong>
            </li>
            <li class="mb-4">
              <p class="text-white mb-1">Rating</p>
              <strong class="text-white">{{ rat }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg></strong>
            </li>
            <li class="mb-4">
              <p class="text-white mb-1">Vulerabilities Found</p>
              <strong class="text-white">{{ vuln }}</strong>
            </li>

          </ul>
        </div>
      </div>
    
            
</section>
<!-- /team -->

<!-- team -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Our Team</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3 col-sm-6">
        <div class="card hover-shadow">
          <img src="{{ url_for('static', filename='images/team/member-1.jpg') }}" alt="team-member" class="card-img-top">
          <div class="card-body text-center position-relative zindex-1">
            <h4><a class="text-dark" href="team-single.html">Sara Adams</a></h4>
            <i>Designer</i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card hover-shadow">
          <img src="{{ url_for('static', filename='images/team/member-2.jpg') }}" alt="team-member" class="card-img-top">
          <div class="card-body text-center position-relative zindex-1">
            <h4><a class="text-dark" href="team-single.html">Tom Bills</a></h4>
            <i>Developer</i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card hover-shadow">
          <img src="{{ url_for('static', filename='images/team/member-3.jpg') }}" alt="team-member" class="card-img-top">
          <div class="card-body text-center position-relative zindex-1">
            <h4><a class="text-dark" href="team-single.html">Anna Walle</a></h4>
            <i>Manager</i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card hover-shadow">
          <img src="{{ url_for('static', filename='images/team/member-4.jpg') }}" alt="team-member" class="card-img-top">
          <div class="card-body text-center">
            <h4>Devid Json</h4>
            <i>CEO</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /team -->

<!-- footer -->
<footer class="bg-secondary position-relative">
  <img src="{{ url_for('static', filename='images/backgrounds/map.png') }}" class="img-fluid overlay-image" alt="">
  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 col-6">
          <h4 class="text-white mb-5">About</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light d-block mb-3">Service</a></li>
            <li><a href="#" class="text-light d-block mb-3">Conatact</a></li>
            <li><a href="#" class="text-light d-block mb-3">About us</a></li>
            <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
            <li><a href="#" class="text-light d-block mb-3">Support</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4 class="text-white mb-5">Company</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light d-block mb-3">Service</a></li>
            <li><a href="#" class="text-light d-block mb-3">Conatact</a></li>
            <li><a href="#" class="text-light d-block mb-3">About us</a></li>
            <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
            <li><a href="#" class="text-light d-block mb-3">Support</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="bg-white p-4">
            <!-- <h3>Contact us</h3> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="text-light mb-0">Copyright &copy; 2019 a theme by <a class="text-gradient-primary" href="https://themefisher.com">themefisher.com</a>
          </p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-md-right text-center">
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-instagram"></i></a></li>
            <li class="list-inline-item"><a class="d-block p-3 text-white" href="#"><i class="ti-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jQuery/jquery.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
<!-- slick slider -->
<script src="{{ url_for('static', filename='plugins/slick/slick.min.js') }}"></script>
<!-- venobox -->
<script src="{{ url_for('static', filename='plugins/venobox/venobox.min.js') }}"></script>
<!-- shuffle -->
<script src="{{ url_for('static', filename='plugins/shuffle/shuffle.min.js') }}"></script>
<!-- apear js -->
<script src="{{ url_for('static', filename='plugins/counto/apear.js') }}"></script>
<!-- counter -->
<script src="{{ url_for('static', filename='plugins/counto/counTo.js') }}"></script>
<!-- card slider -->
<script src="{{ url_for('static', filename='plugins/card-slider/js/card-slider-min.js') }}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{{ url_for('static', filename='plugins/google-map/gmap.js') }}"></script>

<!-- Main Script -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>



